<div class="flex border-cyan-900 border-b cursor-pointer hover:bg-cyan-700" @onclick="SendPosterUrl">
    <div>
        <img src='@Tv.ImageUrl' class="w-10 m-2" />
    </div>
    <div class="text-gray-100 mt-3 w-80">
            <h3 class="font-bold text-[16px]">@Tv.Name</h3>
            <p class="font-light text-[14px] mt-1">@Tv.Year</p>
    </div>
</div>

@code {
    [Parameter]
    public TV? Tv { get; set; }

    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private async void SendPosterUrl()
    {
        await OnClick.InvokeAsync(Tv.ImageUrl);
    }
}